<p-toast key="tst-lgn" position="top-right"></p-toast>

    <div class="login-body">
    <div class="card login-panel ui-fluid">
        <div class="login-panel-content" style="margin-top: 20px;">
            <form [formGroup]="loginForm" (ngSubmit)="SignInUser(loginForm)" autocomplete="off">

                <div class="p-grid">
                    <div class="p-col-12 p-md-5 p-lg-4" style="margin-top:12%">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <span class="guest-sign-in" style="font-size: 26px;"><img src="assets/custom/images/logo.svg"></span>

                            </div>
                            <div class="p-col-12">
                                <label for="float-input">Usuario</label>
                                <div class="login-input">
                                    <input id="float-input" #unm type="text" pInputText formControlName="username" autocomplete="off" maxlength="50">
                                </div>
                            </div>
                            <div class="p-col-12">
                                <label for="float-input1">Contraseña</label>
                                <div class="login-input">
                                    <input id="float-input1" pPassword #pwd type="password" formControlName="password" autocomplete="off" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="p-grid" style="margin-top: 20px;">
                            <div class="p-col-12 p-sm-7" style="text-align: -webkit-center;">
                                <button pButton type="button" label="Recuperar Contraseña" icon="pi pi-user-edit" iconPos="left" class="p-button-text p-button-raised"></button>
                            </div>
                            <div class="p-col-12 p-sm-5" style="text-align: -webkit-center;">
                                <button pButton type="submit" label="Ingresar" icon="pi pi-sign-in" iconPos="left" class="p-button-text p-button-raised" [disabled]="loginForm.invalid || isLoading"></button>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-7 p-lg-8"></div>
                </div>

            </form>
        </div>
    </div>
</div>