<div class="row">
    <div class="card">
        <div class="card-body">
          <ul class="modulos">
            <li><a routerLink="/general" class="btn" role="button" tooltip="Configurar parámetros generales para la identificación de la Institución académica y seguridad del sistema." placement="bottom"><i class="fas fa-cogs fa-6x" ></i><br><br>Configuración general</a></li>
            <li><a href="/country" class="btn" role="button" tooltip="Cargar la información referente al tipo de acreditación o certificación para realizar las comparaciones de los requerimientos mínimos y estatus frente a una acreditación." placement="bottom"><i class="fas fa-users fa-6x"></i><br><br>Referenciación</a></li>
            <li><a href="/home" class="btn" role="button" tooltip="Configura los parámetros que caracterizan a la Institución académica, permitiendo tener independencia de cualquier sistema de gestión académica, pero también podrá tener una integración sencilla con el sistema de gestión académica, por contener los parámetros de estructura académica." placement="bottom"><i class="fas fa-users-cog fa-6x"></i><br><br>Seguimiento y gestión <br>a la acreditación</a></li>
            <li><a href="/home" class="btn" role="button" tooltip="Genera de forma general información parametrizada, cargar información a partir de archivos planos o generar los segmentos de población a encuestar." placement="bottom"><i class="fas fa-info-circle fa-6x"></i><br><br>Proceso de generación <br>de información</a></li>
            <li style="align-content: center;"><a href="/home" class="btn" role="button" tooltip="Se indica y se reporta los generadores solicitados en los procesos de acreditación." placement="bottom"><i class="fas fa-chart-bar fa-6x"></i><br><br>Generación indicadores <br>y estadisticas</a></li>
          </ul>
        </div>
    </div>
</div>