<p-toast></p-toast>

<div class="p-grid">
    <p-card style="min-width: 100%;">
        

        <div class="p-grid">
            <div class="p-col-12 p-sm-12">
                <h1 class="sub-title">Componentes</h1>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-sm-12" style="margin-top: 10px;">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="right">
                        <button pButton type="button"  icon="pi pi-plus" class="p-button-text p-button-raised" ></button>
                        <button pButton type="button"  icon="pi pi-pencil" class="p-button-text p-button-raised" style="margin: 0 5px;"></button>
                        <button pButton type="button"  icon="pi pi-trash" class="p-button-text p-button-raised " (click)="deleteSelectItemVsn()" 
                        [disabled]="!selectItemVsn || !selectItemVsn.length"></button>
                    </ng-template>
                    <ng-template pTemplate="left">
                        <input type="text" pInputText size="35" placeholder="Buscar..." (input)="tblVision.filterGlobal($event.target.value, 'contains')" style="width:auto;margin-top: 5px;">
                    </ng-template>
                </p-toolbar>
            </div>
        </div>

        <p-table #tblVision [value]="academicData" dataKey="id" [(selection)]="selectItemVsn"  
                [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" 
                [paginator]="true"  [filterDelay]="0" [globalFilterFields]="['name','descriptionion','status']">
                <ng-template pTemplate="header">
                    <tr>
                       
                        <th [style]="{'width':'25%'}">Nombre</th>
                        <th [style]="{'width':'25%'}">Descripción</th>
                        <th>Tipo</th>
                        <th>Fecha de creación</th>
                        <th>Fecha de modificación</th>
                        <!-- <th>Acciones</th> -->
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                       
                        <td >
                            {{row.name}}
                        </td>
                        <td>
                            {{row.description }}
                        </td>
                        <td>
                            {{row.type}}
                        </td>
                        <td>
                            {{row.createDate}}
                        </td>
                        <td>
                            {{row.modify}}
                        </td>
                        <!-- <td>
                            aciones
                        </td> -->
                        <td>
                            <p-tableCheckbox [value]="row"></p-tableCheckbox>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No hay datos para mostrar.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total Registros : {{academicData ? academicData.length : 0 }}
                    </div>
                </ng-template>
        </p-table>
    </p-card>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>





<!-- <div class="row">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Buscar...</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-search"></i></div>
                        </div>
                        <input type="text" class="form-control" name="filterpost" id="inlineFormInputGroup" placeholder="Buscar...">
                    </div>
                </div>
                <button type="button" class="btn btn-primary mb-2" routerLink="/general#create">Nuevo componente</button>
            </div>
        </div>
    </form>
    <table class="table">
        <tr>
            <th>Id.</th>
            <th>Nombre dos</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Fecha de creación</th>
            <th>Fecha de modificación</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let component of components | paginate: { itemsPerPage: 5, currentPage: p }; let i = index ">
            <td>{{ 5 * (p - 1) + (i+1)}}</td>
            <td>{{component.name}}</td>
            <td>{{component.description}}</td>
            <td>{{component.type}}</td>
            <td>{{component.createDate | date}}</td>
            <td>{{component.modify | date}}</td>
            <td><a routerLink="/editcomponents"><i class="fas fa-info-circle fa-2x"></i></a></td>
        </tr>
    </table>
    <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div> -->