<div class="p-grid">
  <div class="p-col-6">
      <p>Footer</p>
  </div>
  <div class="p-col-6 footer-icons">
      <a href="#">
          <i class="pi pi-globe"></i>
      </a>
      <a href="#">
          <i class="pi pi-envelope"></i>
      </a>
  </div>
</div>