<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h1>Empty Page</h1>
            <p>Use this page to start from scratch and place your custom content.</p>
            <button type="button" pButton icon="pi pi-th-large" label="Can_Access" style="display:inline-block;margin:6px 5px" *hasClaim="'can_access'" (click)="raiseError()"></button>
            <button type="button" pButton label="authenticated" icon="pi pi-user" style="display:inline-block;margin:6px 5px" (click)="checkAuth('weather')"></button>
            <button type="button" pButton label="role" icon="pi pi-user-minus" style="display:inline-block;margin:6px 5px" (click)="checkAuth('weather/role')"></button>
            <button type="button" pButton label="policy" icon="pi pi-user-plus" style="display:inline-block;margin:6px 5px" (click)="checkAuth('weather/policy')"></button>
            <!-- <button type="button" pButton label="Notify" icon="pi pi-share-alt" style="display:inline-block;margin:6px 5px" (click)="checkNotifyTest('weather/notify')"></button> -->
            <button type="button" pButton label="Email" icon="pi pi-share-alt" style="display:inline-block;margin:6px 5px" (click)="checkNtfTest('email')"></button>
            <button type="button" pButton label="SMS" icon="pi pi-share-alt" style="display:inline-block;margin:6px 5px" (click)="checkNtfTest('sms')"></button>
            <button type="button" pButton label="Push" icon="pi pi-share-alt" style="display:inline-block;margin:6px 5px" (click)="checkNtfTest('push')"></button>

        </div>
        <p-messages [closable]="true"></p-messages>

    </div>
</div>