<div class="layout-topbar">

    <a href="javascript:void(0);" class="layout-menu-button layout-topbar-icon" (click)="onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a href="javascript:void(0);" class="layout-topbar-logo" >
        <!-- <img id="topbar-logo" src="assets/custom/images/logoPS.png"> -->
    </a>
<!-- 
    <div class="user-info">
        <div class="user-name"> username -  <span> universisdad </span></div>
    </div> -->

    <ul class="topbar-menu">
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': topbarUserMenuActive}">
            <a href="javascript:void(0);" (click)="onTopbarUserMenuButtonClick($event)">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name">{{ usrLgn?.alias }}</span>
                    <span class="layout-profile-role">{{ usrLgn?.perfil }}</span>
                </div>
                <img src="assets/custom/images/avatar-default.png" alt="alt-layout" />
            </a>
            <ul class="fadeInDown">
                <li>
                    <a href="javascript:void(0);">
                        <i class="pi pi-fw pi-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="pi pi-fw pi-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="LogOut()">
                        <i class="pi pi-fw pi-bell"></i>
                        <span>LogOut</span>
                    </a>
                </li>
            </ul>
        </li>
       
    </ul>

</div>