<p-toast key="mdl-vsn"></p-toast>
<div class="p-grid">
    <p-card style="min-width: 100%;">
        <div style="min-width: 100%; min-height: 10vh !important">
            <form #formTmp [formGroup]="form" class="p-fluid p-formgrid p-grid" style="padding: 0 10px;" >
                <div class="p-field p-col-12 p-sm-5">
                    <label for="country">Pais</label>
                    <p-autoComplete [suggestions]="coutriesQryRslt" (completeMethod)="search($event, 'country')"
                    [dropdown]="true" formControlName="country" field="name" [forceSelection]="true"></p-autoComplete>
                    <small class="p-invalid" *ngIf="submitted && form.controls.country.status === 'INVALID'">Name is required.</small>
                </div>
                <div class="p-field p-col-12 p-sm-5">
                    <label for="institution">Institución</label>
                    <p-autoComplete  [suggestions]="institutionQryRslt" (completeMethod)="search($event, 'institution')"
                    [dropdown]="true" formControlName="institution" field="name" [forceSelection]="true"></p-autoComplete>
                    <small class="p-invalid" *ngIf="submitted && form.controls.institution.status === 'INVALID'">Name is required.</small>
                </div>
                <div class="p-field p-col-12 p-sm-1 p-offset-1 switch-box">
                    <label for="status">Estado</label> <br>
                    <p-inputSwitch formControlName="status"></p-inputSwitch>
                </div>
                <div class="p-field p-col-12 p-sm-12" style="margin-top: 20px;">
                    <label for="name">Descrición</label>
                    <textarea id="name" pInputTextarea formControlName="name"  rows="4" cols="50"></textarea>
                    <small class="p-invalid" *ngIf="submitted && form.controls.name.status === 'INVALID'">Descrición es requerido.</small>
                </div>
            </form> 
        </div>
        <p-footer >
            <div style="text-align:end"><button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton type="submit" pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveObject()" [disabled]="!form.valid"></button></div>
        </p-footer>
    </p-card>
</div>
