<!-- 
<div class="row">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Buscar...</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar...">
            </div>
          </div>
          <button type="button" class="btn btn-primary mb-2">Nuevo usuario</button>
          <br>
        </div>
      </div>
    </form>
    <br>
    <table mat-table [dataSource]="user" class="mat-elevation-z8">
   
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre</th>
        <br>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado</th>
        <br>
        <td mat-cell *matCellDef="let user"> {{user.status}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dateInit">
        <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
        <br>
        <td mat-cell *matCellDef="let user"> {{user.dateInit | date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dateFin">
        <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
        <br>
        <td mat-cell *matCellDef="let user"> {{user.dateFin | date}} </td>
      </ng-container>
 
      <ng-container matColumnDef="timeInit">
        <th mat-header-cell *matHeaderCellDef>Hora Inicio</th>
        <br>
        <td mat-cell *matCellDef="let user">&nbsp; &nbsp; &nbsp;{{user.timeInit}} </td>
      </ng-container>
      <br>

      <ng-container matColumnDef="timeFin">
        <th mat-header-cell *matHeaderCellDef>Hora Fin</th>
        <br>
        <td mat-cell *matCellDef="let user"> {{user.timeFin}} </td>
      </ng-container>
  
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <br>
        <td mat-cell *matCellDef="let user"> <i class="fa fa-info-circle" aria-hidden="true"></i> </td>
      </ng-container>
      <br>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div> -->