<div class="layout-menu-container" (click)="onMenuClick($event)">
  <p-scrollPanel #layoutMenuScroller [style]="{height: '100%'}">
      <div class="menu-scroll-content">
          <!-- <div class="layout-profile" *ngIf="app.inlineUser"> -->
          <!-- <div class="layout-profile">
                  <a class="layout-profile-button" href="#" (click)="inlineUserMenuActive = !inlineUserMenuActive">
                    <img src="assets/custom/images/avatar-default.png" alt="rit-Avatar" />
                    <div class="layout-profile-userinfo">
                        <span class="layout-profile-name">{{ usrLgn?.nombre_completo }}</span>
                        <span class="layout-profile-role">{{ usrLgn?.profesion }}</span>
                    </div>
                  </a>
                  <ul [@inline]="inlineUserMenuActive ? 'visibleAnimated' : 'hiddenAnimated'" class="layout-profile-menu">
                      <li>
                          <a href="#">
                              <i class="pi pi-fw pi-user"></i><span>Mi Perfil</span>
                          </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" (click)="LogOut()">
                            <i class="pi pi-fw pi-sign-out"></i>
                            <span>Cerrar Sesión</span>
                        </a>
                      </li>
                  </ul>
          </div> -->
          <ul app-submenu [item]="model" root="true" class="layout-menu" visible="true" [reset]="reset" parentActive="true"></ul>
      </div>
  </p-scrollPanel>
</div>
