::ng-deep .switch-box > .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: green !important;
}

.stl-grid {
    margin-top: 20px !important;
    width: -webkit-fill-available !important;
}

.main-mdl-body {
    min-width: 100%; 
    min-height: 350px !important; 
    overflow: hidden;
}

:host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

::ng-deep .cstm-tbl .p-datatable table {
    margin-bottom: 100px !important;
    /* max-height: 150px !important;
    overflow-y: scroll !important; */
} 

/* 
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
} */
