<p-toast key="mdl-toast"></p-toast>

<div class="p-grid">
    <p-card style="min-width: 100%;">
        <div class="main-mdl-body">
            <form #formVisionTmp [formGroup]="formVision" class="p-fluid p-formgrid p-grid" style="padding: 0 10px;" >

                <div class="p-grid">
                    <div class="p-field p-col-12 p-sm-2 p-md-2" style="margin-top: 20px;">
                        <label style="margin-bottom: 0px !important;" for="description">Código</label>
                        <input id="description" pInputText formControlName="description"  />
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.description.status === 'INVALID'">Descrición es requerido.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-4 p-md-4" style="margin-top: 20px;">
                        <label style="margin-bottom: 0px !important;" for="description">Nombre</label>
                        <input id="description" pInputText formControlName="description"  />
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.description.status === 'INVALID'">Descrición es requerido.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-6 p-md-6" style="margin-top: 20px;">
                        <label style="margin-bottom: 0px !important;" for="description">Descrición</label>
                        <textarea id="description" pInputTextarea formControlName="description"  rows="1" cols="50"></textarea>
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.description.status === 'INVALID'">Descrición es requerido.</small>
                    </div>
                </div>

                <div class="p-grid stl-grid">
                    <div class="p-field p-col-12 p-sm-6">
                        <label style="margin-bottom: 0px !important;" for="country">Pais</label>
                        <p-autoComplete [suggestions]="coutriesQryRslt" (completeMethod)="search($event, 'country')"
                        [dropdown]="true" formControlName="country" field="name" [forceSelection]="true"></p-autoComplete>
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.country.status === 'INVALID'">Name is required.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-6">
                        <label style="margin-bottom: 0px !important;" for="institution">Institución</label>
                        <p-autoComplete  [suggestions]="institutionQryRslt" (completeMethod)="search($event, 'institution')"
                        [dropdown]="true" formControlName="institution" field="name" [forceSelection]="true"></p-autoComplete>
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.institution.status === 'INVALID'">Name is required.</small>
                    </div>
                </div>
                
            </form> 
            <div class="card p-grid">
                <div class="p-field p-col-12 p-sm-12 cstm-tbl" >
                    <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" [focusOnShow]="true">
                        <ng-template pTemplate>
                            Content
                        </ng-template>
                    </p-overlayPanel>
                    <p-table styleClass="" #tblMdl [value]="tblData" dataKey="id" editMode="row"  styleClass="p-datatable-sm p-datatable-striped"  >
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:50%">
                                <col style="width:35%">
                                <col style="width:15%">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th >Programa Académico</th>
                                <th >% del Departamento</th>
                                <th style="text-align: center;">
                                    <button  pButton type="button"  icon="pi pi-plus" class="p-button-text p-button-raised"  pTooltip="Crear" tooltipPosition="top" 
                                      pAddRow [table]="tblMdl" [newRow]="addTmplNewRow()"></button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="row">
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input" >
                                            <!-- <input pInputText type="text" [(ngModel)]="row.code"> -->
                                            <p-dropdown [options]="statuses" [(ngModel)]="row.code" [style]="{'width':'100%'}"></p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">{{row.code}}</ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="row.name">
                                        </ng-template>
                                        <ng-template pTemplate="output">{{row.name}}</ng-template>
                                    </p-cellEditor>
                                </td>

                                <td style="text-align:center">
                                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(row)" class="p-button-rounded p-button-text"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(row)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(row, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        
        <div style="text-align:end">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton type="submit" pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveObject()" [disabled]="!formVision.valid"></button>
        </div>
    </p-card>
</div>

