<div class="layout-right-panel" [ngClass]="{'layout-right-panel-active': rightPanelMenuActive}" >
    <p-tabView>
  
        <!-- eventId: "a73566df-fd18-4a07-8113-2afe83b4eb7a"
        event_data: "any data for testing"
        event_status: "success"
        msg: "Msg from signalR"
        notify_mode: "panel/toast"
        type_event: "Pwd Changed"
        type_msg: "Msg Testing"
        usrId: "c3eaa12f-cb8f-4801-a7a6-052d31dfe605"
        createAt = DateTime.Now.ToString() -->

        <p-tabPanel header="Messages">
              <div class="status-title" style="margin: 10px;">
                  <span style="vertical-align: text-top;">Sincronizar notificactiones</span>
                  <i class="pi pi-cloud-upload" style="font-size: 24px;cursor: pointer;color:green" pTooltip="Sincronizar..." (click)="syncMsg();"></i>
              </div>
              <p-card >
                  <div *ngFor="let item of notifications">
                      <div class="messages-title">
                          <span><i class="pi pi-angle-double-right" style="font-size: 18px;vertical-align: middle;" ></i>
                              {{ item?.createAt  | momentPipe : 'MMMM DD, YYYY' | titlecase}}</span>
                      </div>
                      <div class="messages-content ui-g">
                          <span class="time ui-g-3" style="padding: 3px 0px ;" >
                              <!-- [ngClass]="(item?.status =='pending') ? 'pi pi-minus':' pi pi-check' "  -->
                              <i class="pi pi-clock" style="font-size: 18px;vertical-align: middle;" ></i>{{ item?.createAt  | momentPipe : 'hh:mm A'  }} <br>
                              <i *ngIf="item?.event_status =='pending'" class="pi pi-spin pi-replay" style="font-size: 20px;cursor: pointer;color: yellowgreen;"  pTooltip="procesando"></i>
                              <i *ngIf="item?.event_status =='created'" class="pi pi-download" style="font-size: 18px;cursor: pointer;"  pTooltip="Descargar" ></i> 
                              <i *ngIf="item?.event_status =='created'" class="pi pi-external-link" style="font-size: 18px;cursor: pointer;margin-left: 5px;"  pTooltip="Abrir Ventana" ></i> 
                              <i *ngIf="item?.event_status =='failed'" class="pi pi-times-circle" style="font-size: 18px;cursor: pointer;margin-left: 5px; color:red" ></i> 
                          </span>
                          <div *ngIf="item?.event_status !=='failed'" class="message-1 ui-g-9" style="padding-top: 0px;" >{{ item?.type_msg }}</div>
                          <div *ngIf="item?.event_status =='failed'" class="message-1 ui-g-9" style="color: red;padding-top: 0px;">{{ item?.type_msg }} <br> Servicio no disponible.</div>
                      </div>
                  </div>
              </p-card>
  
  
        </p-tabPanel>
  
        <p-tabPanel header="Status">
             
          <div class="status-title">
              <span style="vertical-align: text-top;">Estado Notificaciones</span> 
              <i class="pi pi-wifi" [style.color]=" wsStatusComm ? 'forestgreen': 'red' "></i>
            </div>
  
            <div class="status-title">
                <span>Datacenter Status</span>
                <i class="pi pi-download"></i>
            </div>
            <div class="ui-progressbar ui-widget ui-widget-content ui-corner-all ui-progressbar-determinate">
                <p-progressBar [value]="88" [showValue]="false"></p-progressBar>
                <div class="ui-progressbar-label"></div>
            </div>
            <div class="status-content">
                <span class="percentage-1">65</span><span class="percentage-2">/88</span> Servers Online
            </div>
  
            <div class="status-title">
                <span>Performance Status</span>
                <i class="pi pi-clock"></i>
            </div>
            <div class="ui-progressbar ui-widget ui-widget-content ui-corner-all ui-progressbar-determinate">
                <p-progressBar [value]="65" [showValue]="false"></p-progressBar>
                <div class="ui-progressbar-label"></div>
            </div>
            <div class="status-content">
                <span class="percentage-1">4</span>
                <span class="percentage-2">/5</span> 
                Active Pipeline
            </div>
  
            <div class="status-title">
                <span>Drivers on Way</span>
                <i class="pi pi-cloud"></i>
            </div>
            <div class="ui-progressbar ui-widget ui-widget-content ui-corner-all ui-progressbar-determinate">
                <p-progressBar [value]="35" [showValue]="false"></p-progressBar>
                <div class="ui-progressbar-label"></div>
            </div>
            <div class="status-content">
                <span class="percentage-1">12</span>
                <span class="percentage-2">/40</span> 
                Drivers
            </div>
  
            <div class="status-title">
                <span>Datacenter Status</span>
                <i class="pi pi-map-marker"></i>
            </div>
            <div class="ui-progressbar ui-widget ui-widget-content ui-corner-all ui-progressbar-determinate">
                <p-progressBar [value]="85" [showValue]="false"></p-progressBar>
                <div class="ui-progressbar-label"></div>
            </div>
            <div class="status-content">
                <span class="percentage-1">65</span><span class="percentage-2">/88</span> 
                Servers Online
            </div>
        </p-tabPanel>
  
    </p-tabView>
  </div>
  