::ng-deep .switch-box > .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: green !important;
}

.stl-grid {
    margin-top: 30px !important;
    width: -webkit-fill-available !important;
}

.main-mdl-body {
    min-width: 100%; 
    min-height: 400px !important; 
    overflow: hidden;
}
