<div class="p-grid">
    <p-card style="min-width: 100%;">
        <div class="main-mdl-body">
            <form #formVisionTmp [formGroup]="formVision" class="p-fluid p-formgrid p-grid" style="padding: 0 10px;min-height: 400px;" >
                <div class="p-grid">
                    <div class="p-field p-col-12 p-sm-3" style="margin-top: 20px;">
                        <label for="description">Descrición corta</label>
                        <input id="description" pInputText formControlName="description"  />
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.description.status === 'INVALID'">Descrición es requerido.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-3" style="margin-top: 20px;">
                        <label for="description">Nombre</label>
                        <input id="description" pInputText formControlName="description"  />
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.description.status === 'INVALID'">Descrición es requerido.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-6" style="margin-top: 20px;">
                        <label for="description">Descrición</label>
                        <textarea id="description" pInputTextarea formControlName="description"  rows="1" cols="50"></textarea>
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.description.status === 'INVALID'">Descrición es requerido.</small>
                    </div>
                </div>

                <div class="p-grid stl-grid">
                    <div class="p-field p-col-12 p-sm-3">
                        <label for="country">Pais</label>
                        <p-autoComplete [suggestions]="coutriesQryRslt" (completeMethod)="search($event, 'country')"
                        [dropdown]="true" formControlName="country" field="name" [forceSelection]="true"></p-autoComplete>
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.country.status === 'INVALID'">Name is required.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-3">
                        <label for="institution">Institución</label>
                        <p-autoComplete  [suggestions]="institutionQryRslt" (completeMethod)="search($event, 'institution')"
                        [dropdown]="true" formControlName="institution" field="name" [forceSelection]="true"></p-autoComplete>
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.institution.status === 'INVALID'">Name is required.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-3">
                        <label for="institution">Grado</label>
                        <p-autoComplete  [suggestions]="institutionQryRslt" (completeMethod)="search($event, 'institution')"
                        [dropdown]="true" formControlName="institution" field="name" [forceSelection]="true"></p-autoComplete>
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.institution.status === 'INVALID'">Name is required.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-3">
                        <label for="institution">Programa</label>
                        <p-autoComplete  [suggestions]="institutionQryRslt" (completeMethod)="search($event, 'institution')"
                        [dropdown]="true" formControlName="institution" field="name" [forceSelection]="true"></p-autoComplete>
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.institution.status === 'INVALID'">Name is required.</small>
                    </div>
                </div>

                <div class="p-grid stl-grid">
                    <div class="p-field p-col-12 p-sm-3 cntnr-calendar">
                        <label for="description">Fecha Inicio</label>
                        <p-calendar inputId="basic" class="driverLicExpCal" dateFormat="yy-mm-dd" [readonlyInput]="true"   [locale]="es" (onSelect)="onDateSelect($event,'init')"  ></p-calendar> 
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.institution.status === 'INVALID'">Name is required.</small>
                        <!-- (onClearClick)="dt.filter('', 'date', 'equals')" -->
                    </div>
                    <div class="p-field p-col-12 p-sm-3">
                        <label for="description">Fecha Fin</label>
                        <p-calendar inputId="basic" dateFormat="yy-mm-dd" [readonlyInput]="true"   [locale]="es" (onSelect)="onDateSelect($event,'init')"  ></p-calendar> 
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.institution.status === 'INVALID'">Name is required.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-3">
                        <label for="description">Periodo Inicio</label>
                        <p-calendar inputId="basic" dateFormat="yy-mm-dd" [readonlyInput]="true"   [locale]="es" (onSelect)="onDateSelect($event,'init')"  ></p-calendar> 
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.institution.status === 'INVALID'">Name is required.</small>
                    </div>
                    <div class="p-field p-col-12 p-sm-3">
                        <label for="description">Periodo Fin</label>
                        <p-calendar inputId="basic" dateFormat="yy-mm-dd" [readonlyInput]="true"   [locale]="es" (onSelect)="onDateSelect($event,'init')"  ></p-calendar> 
                        <small class="p-invalid" *ngIf="submitted && formVision.controls.institution.status === 'INVALID'">Name is required.</small>
                    </div>
                </div>
                


            </form> 
        </div>
        <p-footer >
            <div style="text-align:end"><button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton type="submit" pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveObject()" [disabled]="!formVision.valid"></button></div>
        </p-footer>
    </p-card>
</div>
