<p-sidebar [(visible)]="displayModules" [fullScreen]="true" (onHide)="onModulesHide($event)">
    <app-home>Menu principal</app-home>
</p-sidebar>
<div class="layout-wrapper" [ngClass]="{'layout-horizontal': menuMode === 'horizontal',
    'layout-overlay': menuMode === 'overlay',
    'layout-static': menuMode === 'static',
    'layout-slim': menuMode === 'slim',
    'layout-menu-light': lightMenu === true,
    'layout-menu-dark': lightMenu === false,
    'layout-overlay-active': overlayMenuActive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive,
    'layout-rtl': isRTL}" [class]="topbarColor">
    <!-- <app-topbar></app-topbar>  (click)="onLayoutClick();"-->
    <app-header></app-header>
    <!-- <app-menu [reset]="resetMenu"></app-menu> -->
    <app-sidebar [reset]="resetMenu"></app-sidebar>
    <!-- <app-right-menu></app-right-menu> -->
    <!-- (click)="onLayoutCleanUp()" -->
    <div class="layout-main">
        <!-- <app-breadcrumb></app-breadcrumb> -->
        <div class="layout-content custom-scrollbar">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="layout-footer">
        <app-footer></app-footer>
    </div>
    <div class="layout-content-mask"></div>
</div>
