<p-toast key="mdl-mn-vsn"></p-toast>

<div class="p-grid" class="text-body">
    <p-card style="min-width: 100%;" >
        <div class="fullHeightBody" >
        <div class="p-grid">
            <div class="p-col-12 p-sm-12">
                <h1 class="sub-title">Visión</h1>                
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-sm-12" style="margin-top: 10px;">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <input type="text" pInputText size="35" placeholder="Buscar..." (input)="tblVision.filterGlobal($event.target.value, 'contains')" style="width:auto;font-size: .8em !important;">
                        <span  style="margin: 0px 10px;">
                            <p-autoComplete [suggestions]="generalObjectVision.filteredCountries" [(ngModel)]="generalObjectVision.paisSelected" (completeMethod)="search($event, 'country')" dataKey="id" [autoHighlight]="true"
                                [dropdown]="true"  field="name" [forceSelection]="true" placeholder="Paises" 
                                 (onSelect)="ddSelectGeneric($event?.name,'onCountrySelectChange')" (onClear)="hndlClearSelect('paisSelected')"></p-autoComplete>
                                 <!-- (onSelect)="tblVision.filter($event.name, 'institutionId.name', 'equals')" -->
                        </span>
                        <span  style="margin: 0px 10px;">
                            <p-autoComplete [suggestions]="generalObjectVision.filteredInstitutions" [(ngModel)]="generalObjectVision.institutionSelected" (completeMethod)="search($event, 'institution')" dataKey="id" [autoHighlight]="true"
                                [dropdown]="true"  field="name" [forceSelection]="true" placeholder="Institución" 
                                 (onSelect)="ddSelectGeneric($event?.name,'onInstitutionSelectChange')" (onClear)="hndlClearSelect('institutionSelected')"></p-autoComplete>
                                 <!-- (onSelect)="tblVision.filter($event.name, 'institutionId.name', 'equals')" -->
                        </span>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <button pButton type="button"  icon="pi pi-plus" class="p-button-text p-button-raised" (click)="openNew('new')"></button>
                        <button pButton type="button"  icon="pi pi-pencil" class="p-button-text p-button-raised" style="margin: 0 5px;" (click)="openNew('edit')"
                        [disabled]="!selectItemVsn"></button>
                        <button pButton type="button"  icon="pi pi-trash" class="p-button-text p-button-raised " (click)="deleteSelectItemVsn()" 
                        [disabled]="!selectItemVsn"></button>
                    </ng-template>
                </p-toolbar>
            </div>
        </div>

        <p-table #tblVision [value]="dataSrc" dataKey="id" [(selection)]="selectItemVsn"  
                [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" 
                [paginator]="true"  [filterDelay]="0" [globalFilterFields]="['name','institutionId.name','status']">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Institución</th>
                        <th [style]="{'width':'45%'}">Descripción</th>
                        <th>Fecha Creación</th>
                        <th>Estado</th>
                        <!-- <th style="width: 3rem">Acciones</th> -->
                        <th style="width: 3rem">
                             <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> --> 
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td>
                            {{row.institutionId?.name }}
                        </td>
                        <td >
                            {{row?.name}}
                        </td>
                        <td>
                            {{row?.createDate }}
                        </td>
                        <td>
                            {{row?.status ? 'activo' : 'inactivo'}}
                        </td>
                        <!-- <td>
                            <p-tableCheckbox [value]="row"></p-tableCheckbox>
                        </td> -->
                        <td>
                            <p-tableRadioButton [value]="row"></p-tableRadioButton>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No hay datos para mostrar.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total Registros : {{dataSrc ? dataSrc?.length : 0 }}
                    </div>
                </ng-template>
        </p-table>
    </div>
    </p-card>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>